""" Leader ----------------------------------
let mapleader="\<Space>"

""" Plugins ---------------------------------
" https://github.com/JetBrains/ideavim/wiki/Emulated-plugins
set surround
set commentary
set NERDTree
set highlightedyank

""" Settings --------------------------------
set noshowmode
set scrolloff=1
set rnu
set clipboard=unnamed
set clipboard+=ideaput

" Search
set hlsearch
set incsearch
set ignorecase
set smartcase

" Idea
set visualbell
set noerrorbells
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Mappings --------------------------------
vnoremap <esc> <esc>
nnoremap <C-g> <esc>

" Navigation
nmap <leader><leader> :action GotoFile<cr>
nmap <leader>ff :action GotoFile<cr>
nmap <leader>, :action RecentFiles<cr>
nmap <leader>fr :action RecentFiles<cr>
nmap <leader>* :action FindInPath<cr>
nmap gd :action GotoDeclaration<cr>
nmap gi :action GotoImplementation<cr>
nmap gs :action GotoSuperMethod<cr>
nmap gu :action FindUsages<cr>
nmap g] :action GotoNextError<cr>
nmap g[ :action GotoPreviousError<cr>

" Project
nmap <leader>pd :action Debug<cr>
nmap <leader>pr :action RenameElement<cr>
nmap <leader>ps :action Stop<cr>
nmap <leader>pp :action OpenProjectWindows<cr>

" Windows
nmap <leader>T :action ActivateTerminalToolWindow<cr>
" nmap <leader>tt :NERDTreeToggle<CR>
nmap <leader>tt :action ActivateProjectToolWindow<CR>
nmap <leader>o :action HideAllWindows<cr>
nmap <leader>tz :action ToggleDistractionFreeMode<cr>

" Formatting
nmap <M-cr> :action Refactorings.QuickListPopupAction<cr>
nmap <leader>cf :action ReformatCode<cr>
nmap R :action RenameElement<cr>
nmap <C-j> :action MoveLineDown<cr>
nmap <C-k> :action MoveLineUp<cr>
vmap <C-j> :action MoveLineDown<cr>
vmap <C-k> :action MoveLineUp<cr>
